/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2'),
      url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.woff2') format('woff2'),
      url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Bold.woff2') format('woff2'),
      url('RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --background-text: #969595; /* Второстепенный текст */
  --main-color: #201D1D;
  --text-part-blocks: #FFF;
  --review-titles: #000;
  --telephone-and-mail: #FF3214;

  /* background color */
  --site-search: #F3F3F3;
  --light-blocks-320: #E5E5E5;
  --light-blocks: #FBFBFB;
  --dark-blocks: #232630;
  --dot-color: #CCC;
  --background-img: rgba(0, 0, 0, 0.4);

  /* border color */

  --color-frame: #444857;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
  background-color: var(--text-part-blocks);
}

.link,
.main-title,
.title,
.subtitle {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
}

.link {
  font-size: 11px;
  font-weight: bold;
}

.link-button {
  font-size: 11px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: var(--telephone-and-mail);
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  font-size: 16px;
  line-height: 20px;
}

.certain-blocks {
  color: var(--text-part-blocks);
  background-color: var(--dark-blocks);
}

@media screen and (min-width: 320px) {

  /* Global */

  .title {
    padding-top: 44px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .certain-blocks .title {
    color: var(--text-part-blocks);
  }

  .list {
    list-style: none;
    padding-left: 32px;
    margin-bottom: 44px;
    z-index: 1;
  }

  .item {
    margin-bottom: 16px;
  }

  .our-approach,
  .reviews {
    background: var(--light-blocks);
  }

  /* header */

  .main-header {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  .menu-desktop,
  .search {
    display: none;
  }

  .burger {
    width: 20px;
    height: 20px;
  }

  .burger__span{
    display: block;/* строчный элемент в блочный */
    transition: all 0.3s;/* плавность анимации */
    width: 15px;/* ширина полоски */
    margin: 4px;/* расстояние между полосками */
    height: 2px;/* высота полоски */
    background-color: var(--main-color);/* Цвет полоски */
  }

  .logo-container {
    width: 100px;
    height: 24px;
    margin: 0;
    margin-left: 12px;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .main-header__form {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .search-img {
    width: 20px;
    height: 20px;
  }

  .main-header__apps {
    width: 20px;
    height: 20px;
    margin: 0 12px;
  }

  /* page-main */

  .get-a-presentation__list,
  .main-title,
  .link-button,
  .title,
  .problem__poor-quality-data,
  .cataloging__container,
  .solution__box,
  .our-approach__list,
  .reviews_wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }

  /* get-a-presentation */

  .get-a-presentation {
    height: 568px;
    margin-left: 0;
    color: var(--text-part-blocks);
    background: var(--background-img) url(../i/bg/bg-nsi-320.jpg) no-repeat;
  }

  .get-a-presentation__list {
    list-style: none;
    padding-top: 12px;
    padding-left: 0;
    margin-top: 0;
    /* margin-left: 16px; */
    margin-bottom: 56px;
    display: flex;
  }

  .get-a-presentation__list li {
    position: relative;
  }

  .get-a-presentation__list li:not(:first-child)::before {
    position: absolute;
    top: -1px;
    left: -11px;
    content: url(../i/vector.svg);
    width: 3,71px;
    height: 6px;
  }

  .get-a-presentation__item a,
  .link-button {
    color: var(--text-part-blocks);
    text-decoration: none;
  }

  .get-a-presentation__item:first-child {
    list-style-image: none;
  }

  .get-a-presentation__item:last-child {
    opacity: 0.6;
  }

  .get-a-presentation__item:not(:first-child) {
    margin-left: 20px;
  }

  .main-title {
    color: var(--text-part-blocks);
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  /* problem */

  .marker {
    position: relative;
  }

  .marker:hover {
    opacity: 1;
  }

  .marker:before, .marker:after {
    position: absolute;
    top: 2px;
    right: 25px;
    content: ' ';
    height: 14px;
    width: 1.5px;
    background-color: var(--telephone-and-mail);
  }

  .marker:before {
    transform: rotate(45deg);
  }

  .marker:after {
    transform: rotate(-45deg);
  }

  /* cataloging */

  .cataloging_margin {
    margin-bottom: 16px;
  }

  .cataloging_margin-last {
    margin-bottom: 0;
    padding-bottom: 44px;
  }

  /* solution */

  .box-solution__marker {
    position: relative;
  }

  .box-solution__marker::before {
    content: url(../i/check.svg);
    position: absolute;
    top: -4px;
    left: -35px;
  }

  /* our-approach */

  .our-approach__title {
    margin-bottom: 100px;
  }

  .our-approach__list {
    list-style: none;
    padding-left: 0;
    background: var(--text-part-blocks);
  }

  .our-approach__list li {
    margin-bottom: 80px;
    position: relative;
  }

  .our-approach__list li:last-child {
    margin-bottom: 16px;
  }

  .our-approach__list li::before,
  .our-approach__list li::before,
  .our-approach__list li::before {
    position: absolute;
    top: -58px;
  }

  .our-approach__item-1::before {
    content: url(../i/block-our-approach/the-fire.svg);
  }

  .our-approach__item-2::before {
    content: url(../i/block-our-approach/user.png);
  }

  .our-approach__item-3::before {
    content: url(../i/block-our-approach/shield.svg);
  }

  .our-approach__list h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  /* global slider */

  .our-projects,
  .reviews {
    position: relative;
  }

  .wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 44px;
  }

  .slider {
    min-width: 0;
  }

  .slider__item {
    display: flex;
  }

  .slick-track{
    display: flex;
  }

  .our-projects__content,
  .reviews__content {
    position: absolute;
    top: 40px;
    right: 16px;
  }

  .our-projects__content .slick-arrow,
  .reviews__content .slick-arrow {
    font-size: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
  }

  .our-projects__content .slick-arrow.slick-prev,
  .reviews__content .slick-arrow.slick-prev {
    left: 0;
    background: url('../i/left.svg') 0 0 / 100% no-repeat;
    margin-right: 10px;
  }

  .our-projects__content .slick-arrow.slick-next,
  .reviews__content .slick-arrow.slick-next {
    right: 0;
    background: url('../i/right.svg') 0 0 / 100% no-repeat;
  }

  /* .our-projects__content .slick-arrow.slick-disabled,
  .reviews__content .slick-arrow.slick-disabled {
    opacity: 0.2;
  } */

  /* our-projects */

  .our-projects__desktop {
    display: none;
  }

  .our-projects__item {
    justify-content:center;
    align-items: center;
  }

  /* reviews */

  .reviews__item {
    flex-direction: column;
  }

  .reviews__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  }

  .reviews__slider .slick-dots li {
    margin: 0 8px;
  }

  .reviews__slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background: var(--dot-color);
    border: none;
    border-radius: 50%;
  }

  .reviews__slider .slick-dots li.slick-active button {
    background: var(--telephone-and-mail);
  }

  .reviews__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0;
    border: 1px solid var(--site-search);
  }

  .reviews__img-1 {
    width: 62.9px;
    height: 11.59px;
  }

  .reviews__img {
    width: 70px;
    height: 70px;
  }

  .reviews h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  .reviews h3 + p {
    color: var(--background-text);
  }

  /* contacts */

  .contacts {
    position: relative;
    padding-bottom: 44px;
  }

  .contacts__list,
  .contacts__box-text {
    padding-left: 16px;
    padding-right: 16px;
  }

  .contacts__list {
    list-style: none;
    padding-top: 24px;
    border-top: 1px solid var(--color-frame);
    border-bottom: 1px solid var(--color-frame);
  }

  .contacts__list li {
    display: flex;
    margin-bottom: 24px;
  }

  .contacts__face {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 16px;
  }

  .contacts__list h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .contacts__list p {
    opacity: 0.6;
    margin-top: 5px;
    margin-bottom: 12px;
  }

  .contacts__conterner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .contacts__conterner img {
    margin-right: 10px;
  }

  .contacts__list a {
    color: var(--text-part-blocks);
    text-decoration: none;
  }

  .contacts__box-text {
    position: absolute;
    top: 583px;
    left: 50%;
    transform:translateX(-50%);
    background-color: var(--dark-blocks);
    margin-left: 0;
    margin-bottom: 12px;
  }

  .contacts__text {
    opacity: 0.6;
  }

  .contacts_link {
   margin-top: 25px;
  }

  /* footer */

  .page-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  .page-footer__logo,
  .page-footer__list,
  .page-footer__text {
    margin-left: 16px;
  }

  .page-footer__logo {
    margin-top: 44px;
  }

  .page-footer__box-link {
    padding-top: 44px;
  }

  .page-footer__link-contacts {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--telephone-and-mail);
    margin-bottom: 8px;
  }

  .page-footer ul {
    list-style: none;
    padding-left: 0;
  }

  .page-footer__item {
    width: 104px;
  }

  .page-footer__link {
    color: var(--background-text);
  }

  .page-footer__list_span {
    grid-column: span 2;
  }

  .page-footer__text {
    grid-column: span 2;
    color: var(--background-text);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {

  /* Global */

  .link-button {
    width: 202px;
    height: 52px;
    font-size: 13px;
  }

  .title {
    padding-top: 60px;
    font-size: 30px;
    line-height: 40px;
  }

  .subtitle {
    margin-top: 64px;
    font-size: 20px;
    line-height: 32px;
  }

  .problem,
  .cataloging,
  .solution {
    display: flex;
  }

  /* header */

  .main-header {
    height: 80px;
    padding: 0 24px;
  }

  .burger {
    width: 24px;
    height: 24px;
  }

  .burger__span{
    width: 18px;
  }

  .logo-container {
    width: 168px;
    height: 40px;
    margin-left: 24px;
  }

  .search-img,
  .main-header__apps {
    width: 24px;
    height: 24px;
  }

  .main-header__link {
    font-size: 13px;
  }

  /* page-main */

  .get-a-presentation__list,
  .main-title,
  .link-button,
  .title,
  .our-approach__list,
  .reviews_wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }

  /* get-a-presentation */

  .page-main .get-a-presentation {
    background: var(--background-img) url(../i/bg/bg-nsi-768.jpg) no-repeat;
  }

  .get-a-presentation__list {
    padding-top: 20px;
    margin-left: 24px;
    margin-bottom: 106px;
  }

  .get-a-presentation__list li:not(:first-child)::before {
    width: 4.94px;
    height: 8px;
  }

  .main-title {
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 52px;
  }

  /* problem */

  .problem__poor-quality-data {
    margin-left: 193px;
  }

  /* cataloging */

  .cataloging__container {
    margin-left: 112px;
  }

  .cataloging_margin-first {
    margin-top: 60px;
  }

  /* solution */

  .solution__box{
    margin-left: 213px;
  }

  /* our-approach */

  .our-approach__list {
    display: flex;
  }

  .our-approach__list li {
    width: 208px;
    margin-right: 48px;
  }

  /* reviews */

  .reviews__item {
    flex-direction: row;
  }

  .reviews__figure {
    width: 136px;
    height: 136px;
    margin-right: 24px;
  }

  .reviews__img-1 {
    width: 106.92px;
    height: 19.7px;
  }

  .reviews__img {
    width: 117.24px;
    height: 117.24px;
  }

  /* contacts */

  .contacts__list {
    display: flex;
  }

}
