/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2'),
      url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.woff2') format('woff2'),
      url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Bold.woff2') format('woff2'),
      url('RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --background-text: #969595; /* Второстепенный текст */
  --main-color: #201D1D;
  --text-part-blocks: #FFF;
  --review-titles: #000;
  --telephone-and-mail: #FF3214;

  /* background color */
  --site-search: #F3F3F3;
  --light-blocks-320: #E5E5E5;
  --light-blocks: #FBFBFB;
  --dark-blocks: #232630;
  --background-img: rgba(0, 0, 0, 0.4);
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
  background-color: var(--text-part-blocks);
}

/* .visually-hiden { /* Доступно прячет элемент в браузере для скринридеров.
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.link,
.main-title,
.title,
.subtitle {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
}

.link {
  font-size: 11px;
  font-weight: bold;
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  font-size: 16px;
  line-height: 20px;
}

.certain-blocks {
  color: var(--text-part-blocks);
  background-color: var(--dark-blocks);
}

/*

<span class="close"></span>

.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

*/

@media screen and (min-width: 320px) {

  /* Global */

  .title {
    padding-top: 44px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .certain-blocks .title {
    color: var(--text-part-blocks);
  }

  .list {
    list-style: none;
    padding-left: 32px;
    margin-bottom: 44px;
    z-index: 1;
  }

  .item {
    margin-bottom: 16px;
  }

  /* header */

  .main-header {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  .menu-desktop,
  .search {
    display: none;
  }

  .burger {
    width: 20px;
    height: 20px;
  }

  .burger__span{
    display: block;/* строчный элемент в блочный */
    transition: all 0.3s;/* плавность анимации */
    width: 15px;/* ширина полоски */
    margin: 4px;/* расстояние между полосками */
    height: 2px;/* высота полоски */
    background-color: var(--main-color);/* Цвет полоски */
  }

  .logo-container {
    width: 100px;
    height: 24px;
    margin: 0;
    margin-left: 12px;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .main-header__form {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .search-img {
    width: 20px;
    height: 20px;
  }

  .main-header__apps {
    width: 20px;
    height: 20px;
    margin: 0 12px;
  }

  /* page-main */

  .page-main > section > * {
    margin-left: 16px;
    margin-right: 16px;
  }

  /* get-a-presentation */

  .page-main .get-a-presentation {
    height: 568px;
    margin-left: 0;
    color: var(--text-part-blocks);
    background: var(--background-img) url(../i/bg/bg-nsi-320.jpg) no-repeat;
  }

  .get-a-presentation__list {
    list-style: none;
    list-style-image: url(../i/vector.svg);
    padding-top: 12px;
    padding-left: 0;
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 56px;
    display: flex;
  }

  .get-a-presentation__item a,
  .get-a-presentation__link {
    color: var(--text-part-blocks);
    text-decoration: none;
  }

  .get-a-presentation__item:first-child {
    list-style-image: none;
  }

  .get-a-presentation__item:last-child {
    opacity: 0.6;
  }

  .get-a-presentation__item:not(:first-child) {
    margin-left: 20px;
  }

  .main-title {
    color: var(--text-part-blocks);
    font-size: 32px;
    line-height: 36px;
    margin: 0 16px;
    margin-bottom: 30px;
    letter-spacing: -0.02em;
  }

  .get-a-presentation__link {
    font-size: 11px;
    line-height: 20px;
    padding: 15px 68px;
    margin-left: 16px;
    background-color: var(--telephone-and-mail);
  }

  /* problem */

  .marker {
    position: relative;
  }

  .marker:hover {
    opacity: 1;
  }

  .marker:before, .marker:after {
    position: absolute;
    top: 2px;
    right: 25px;
    content: ' ';
    height: 14px;
    width: 1.5px;
    background-color: var(--telephone-and-mail);
  }

  .marker:before {
    transform: rotate(45deg);
  }

  .marker:after {
    transform: rotate(-45deg);
  }

  /* cataloging */

  .cataloging_margin {
    margin-bottom: 16px;
  }

  .cataloging_margin-last {
    margin-bottom: 0;
    padding-bottom: 44px;
  }

  /* solution */

  .solution-marker {
    position: relative;
  }

  .solution-marker::before {
    content: url(../i/check.svg);
    position: absolute;
    top: -4px;
    left: -35px;
  }

  /* our-approach */

  .our-approach-title {
    margin-bottom: 100px;
  }

  .our-approach-list {
    list-style: none;
    padding-left: 0;
  }

  .our-approach-list li {
    margin-bottom: 80px;
    position: relative;
  }

  .our-approach-list li:last-child {
    margin-bottom: 16px;
  }

  .our-approach-list h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .background-img-li-1::before,
  .background-img-li-2::before,
  .background-img-li-3::before {
    position: absolute;
    top: -58px;
  }

  .background-img-li-1::before {
    content: url(../i/block-our-approach/the-fire.svg);
  }

  .background-img-li-2::before {
    content: url(../i/block-our-approach/user.png);
  }

  .background-img-li-3::before {
    content: url(../i/block-our-approach/shield.svg);
  }
}


