/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2'),
      url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Bold.woff2') format('woff2'),
      url('RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.woff2') format('woff2'),
      url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --background-text: #969595; /* Второстепенный текст */
  --main-color: #201D1D;
  --text-part-blocks: #FFF;
  --review-titles: #000;
  --telephone-and-mail: #FF3214;

  /* background color */
  --site-search: #F3F3F3;
  --light-blocks: #FBFBFB;
  --dark-blocks: #232630;
}

/*

<span class="close"></span>

.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

*/
